__pycache__/
*.pyc
pymysql/
*.dist-info/
 # Node / frontend build files
/frontend/dist/
/frontend/node_modules/

# Python cache
**/__pycache__/
/backend/*/__pycache__/

# Python dependencies you packaged (pymysql etc.)
/backend/*/pymysql/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
  

# Node/Vite files
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.cache/

# Python caches
**/__pycache__/
**/*.pyc

# OS files
.DS_Store
Thumbs.db

# AWS credentials or env files
*.env
